<div class="container" ng-controller="ActivitiesController">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 ng-bind="activity.title"></h4>
      <br>

      <div ng-if="!activity.records || !activity.records.length > 0">
        <div class="btn btn-primary" ui-sref="activity.edit">Edit</div>
      </div>
      <br>

      <!-- List records -->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="record in activity.records">
          <span ng-bind="title"></span>
        </li>
      </ul>

      <pre ng-bind="activity | json"></pre>

    </div>
  </div>
</div>
