<div class="container" ng-controller="ActivitiesController">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 ng-bind="$storage.activities[activityId].title"></h4>
      <br>

      <div ng-if="!$storage.activities[activityId].records">
        <div class="btn btn-primary" ui-sref="activity.edit">Edit</div>
      </div>
      <br>

      <!-- List activities -->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(title, activity) in $storage.activities">
          <span ng-bind="title"></span>
        </li>
      </ul>      

      <pre ng-bind="$storage.activities[activityId] | json"></pre>

    </div>
  </div>
</div>