<div class="container" ng-controller="FormFieldEditController">

  <!-- Activity > {{FieldName}} - [TrashButton] -->
  <div class="row">
    <!-- Activity link and field name -->
    <div class="col-md-10">
        <h3>
          <a ui-sref="^.edit" ng-bind="activity.title"></a>
          <span class="glyphicon glyphicon-chevron-right small"></span>
          <span ng-bind="fieldName"></span>
        </h3>
    </div>
    <!-- Delete field button -->
    <div class="col-md-2 header-accessory">
        <div class="btn btn-danger"
             ng-click="uiDeleteField()">
          <span class="glyphicon glyphicon-trash"></span>
        </div>
    </div>
  </div>

  <br>


  <h4>Field</h4>
  <div class="form-horizontal">
    <!-- field name -->
    <div class="form-group">
      <label for="fieldName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input ng-model="fieldName"
               type="text"
               class="form-control"
               id="fieldName"
               placeholder="Field name">
      </div>
    </div>

    <!-- data type -->
    <div class="form-group">
      <label for="dataType" class="col-sm-2 control-label">Data type</label>
      <div class="col-sm-10">
        <!--input type="text" class="form-control" id="dataType" placeholder="string"-->
        <ui-select id="dataType"
                   ng-model="dataType"
                   theme="bootstrap"
                   title="Select a data type">
          <ui-select-match placeholder="Select a data type">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="dt in dataTypes">
            <span ng-bind-html="dt"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <!-- validation -->
    <div class="form-group">
      <label for="validation" class="col-sm-2 control-label">Validation</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="validation" placeholder="Validation">
      </div>
    </div>

    <!-- default -->
    <div class="form-group">
      <label for="default" class="col-sm-2 control-label">Default</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="default" placeholder="">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-xs-6 col-sm-offset-2 col-sm-5">
      <div class="btn btn-block btn-warning" ui-sref="activity.edit">Cancel</div>
    </div>
    <div class="col col-xs-6 col-sm-5">
      <div class="btn btn-block btn-primary" ng-click="uiSubmit()">OK</div>
    </div>
  </div>


</div>


